venv/
.venv/
env/
ENV/
__pycache__/
*cache*/
__cahce__/
*.py[cod]
*$py.class

.vscode/
.idea/
*.swp
*.swo
.DS_Store
__MACOSX/

.env
.env.*
.env.template
*.env
.kaggle/
*kaggle*.json
*access_token*

muleaccount/
data/
*.csv
!backend/attacks/.gitkeep

*.pt
*.pth
*.bin
*.onnx
!model/best_model.pt
!backend/fine_tunning/.gitkeep

node_modules/
.next/
out/
build/
dist/
*.tsbuildinfo
*.log

*.zip
*.tar.gz
*.tmp

# Media files
*.png
*.jpg
*.jpeg
*.gif
*.webm
*.mp4
