# Virtual Environments & Python Cache
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]

# Cloned External Repos & Data Folders
muleaccount/
data/

# Environment & Secrets & IDE
.env
.env.*
.kaggle/
*kaggle*.json
*access_token*
.vscode/
.idea/
.DS_Store

# Ignore all CSV and PT files except best_model.pt
*.csv
*.pt
*.pth
*.txt
*.zip
!best_model.pt
!**/best_model.pt
backend/.env
